body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: sans-serif;
}


.page {
    margin: 0 auto;
    width: 600px;
}


.content,
.header,
.footer {
    padding: 50px;
    margin: 25px;
    border-radius: 10px;
    box-sizing: border-box;
}

.content {
    border: 5px solid #068103;
    background-color: #ccc;
}


.header {
    border: 5px solid #999;
}

.header__title {
    text-align: center;
}

.footer {
    border: 5px solid #d79300;
}