@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;1,100&display=swap');


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrap, 
.page {
    height: 100%;
}


body {
    background-color: #f9f9f9;
}

.page {
    color: #000;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.container {
    max-width: 1300px;
    min-height: 100%;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 278px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "content"
        "sidebar"
        "footer";
}

@media (min-width: 767px){
    .container{
        grid-template-areas:
        "content sidebar"
        "footer footer";
    }
}


@media (max-width: 767px) {
    .container{
        grid-template-areas:
        "content content"
        "sidebar sidebar"
        "footer footer";
    }
}

@media (max-width: 920px) {
    .container {
        grid-template-columns: 1fr 230px;
    }
}

.sections {
    padding: 0 2%;
}

.header {
    margin: 0 auto;
    grid-area: header;
    position: relative;
    height: 300px;
    background: url(../img/bg2.jpg);
    background-position: center bottom;
    border-bottom: 4px solid #0d4981;
    padding: 50px;
}

.header::before {
    content: '';
    opacity: 0.4;
    background-color: #000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header__top-bar {
    height: 100%;
    position: relative;
}

.header__logo {
    font-size: 40px;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
    display: block;
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    position: absolute;
    font-family: 'Bangers', cursive;
}

.header__logo span {
    color: yellow;
    font-size: 70px;
    font-family: 'Bangers', cursive;
}

@keyframes float {
    0% {
        transform: translateZ(0);
        -webkit-transform: translateZ(0);
    }

    25% {
        transform: translate3d(0,2px,0);
        -webkit-transform:translate3d(0,2px,0); 
    }

    50% {
        transform: translate3d(0,-5px,0);
        -webkit-transform: translate3d(0,-5px,0)
    }

    75% {
        transform: translate3d(0,3px,0);
        -webkit-transform: translate3d(0,3px,0)
    }

    to {
        transform: translateZ(0);
        -webkit-transform: translateZ(0)
    }
}

.header__title {
    color: yellow;
    z-index: 1;
    font-size: 75px;
    font-family: 'Bangers', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1;
    font-weight: normal;
    margin: 0;
    padding: 0;
}


.header__img-box {
    display: flex;
    text-align: center;
    justify-content: center;
    -webkit-animation: float 7.5s infinite;
    animation: float 7.5s infinite;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.header__top-menu {
    position: absolute;
    top: 0;
    right: 0;
}

.header__top-menu ul,
.header__menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 0;
}

.header__top-menu li {
   display: inline-block;
   background-color: #0d4981;
}

.header__top-menu a {
    text-decoration: none;
    padding: 12px;
    display: block;
    color: #fff;
    font-size: 16px;
}

.header__top-menu a:hover {
    background: #a5a5a5;
}

.header__menu {
    background-color: #0072bc;
}

.header__menu a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    font-size: 14px;
    text-transform: none;
    color: #fff;
}

.header__menu a:hover {
    text-shadow: 0 0 2px #3a87b8;
    background: #4095cd;
}


.fp-content {
    position: absolute;
    height: 70px;
    padding: 5px 20px;
    bottom: 30px;
    right: 520px;
    left: 30px;
    overflow: hidden;
}

.fp-content a, .fp-content p {
    color: #fff;
}

.fp-content p {
    padding-bottom: 10px;
    margin: 0px;
}

.fp-content-fon, .fp-content {

    left: 0;
    right: 0;
    top: 285px;
    text-align: left;
    font-size: 13px;
}

.content {
    grid-area: content;
    background-color: #fff;
    padding: 30px 40px;
}

.content img {
    width: 100%;
    max-width: 100%;
}

.content p.caption {
    color: #999;
    font-size: 16px;
    font-style: italic;
    margin: 0;
}

.content p:first-child {
    margin-top: 0;
}

.content a {
    color: #2d98de;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content h1, 
.content h2 {
    line-height: 1;
    margin: 0;
}

.content h1 {
    font-size: 25px;
}

.content h2 {
    font-size: 23px;
    background: none;
    box-shadow: none;
    color: #0d4981;
    padding: 0;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    border-left: 2px solid;
    padding-left: 10px;
    margin-bottom: 10px;
    line-height: 1;
}

.content__list {
    border: 1px solid #939393;
}

.content__list ol {
    margin: 0;
}

.content__list li {
    margin: 10px;
}

.simple-table {
    border-collapse: collapse;
    width: 300px;
    margin: 15px 0;
}

.simple-table td, .simple-table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.temperature {
    margin: 15px 0;
}

.temperature table {
    border: 1px solid #2d98de;
    border-collapse: collapse;
}

.temperature td, .temperature th {
    border: 1px solid #2d98de;
    text-align: left;
    padding: 8px;
}

.temperature th {
    background-color: #2d98de;
    color: #fff;
    font-weight: normal;
    font-size: 14px;
}

.temperature__warm {
    background-color: #ff5300;
    color: #fff;
}

.temperature__cold {
    background-color: #2d98de;
    color: #fff;
}

.sidebar {
    grid-area: sidebar;
    background-color: #fff;
    padding-left: 4%;
    padding-top: 20px;
}

.sidebar__sticky {
    position: sticky;
    top: 20px;
    margin-top: 20px;
}

.cover__img {
    width: 100%;
}

.cover__caption {
    font-size: 14px;
    color: #222;
}

.widget__title {
    background: #0d4981;
    font-size: 28px;
    color: #fff;
    padding: 0px 15px;
    font-family: 'Bangers', cursive;
}

.widget__title-nav {
    background: none;
    box-shadow: none;
    color: #0d4981;
    padding: 0;
    font-family: 'Bangers', cursive;
    font-size: 35px;
    border-left: 2px solid;
    padding-left: 10px;
    margin-bottom: 10px;
    line-height: 1;
}


.widget__content {
    margin-top: 0px;
}

.popular {
    display: flex;
    margin-top: 20px;
}

.popular__img-box {
    padding: 2px;
    margin-right: 10px;
    margin-top: 0px;
    border: 1px solid #c6c6c6;
}


.popular__img {
    display: block;
    width: 80px;
}

.footer {
    grid-area: footer;
    background: #0d4981;
    border: none;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    font-size: 16px;
    padding: 50px 0;
}